<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wyd.ibeacon.mapper.IbeaconMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wyd.ibeacon.model.po.Ibeacon">
        <id column="id" property="id" />
        <result column="park_id" property="parkId" />
        <result column="ibeacon_id" property="ibeaconId" />
        <result column="location_x" property="locationX" />
        <result column="location_y" property="locationY" />
        <result column="around_ibeacon" property="aroundIbeacon" />
        <result column="detail" property="detail" />
        <result column="type" property="type" />
        <result column="extend_field1" property="extendField1" />
        <result column="extend_field2" property="extendField2" />
        <result column="extend_field3" property="extendField3" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
        <result column="update_person" property="updatePerson" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, park_id, ibeacon_id, location_x, location_y, around_ibeacon, detail, type, extend_field1, extend_field2, extend_field3, update_time, create_time, update_person
    </sql>

</mapper>
